.container {
  min-height: 100vh;
}

.dashboard-main {
  min-width: 1000px;
  background-color: #f8f8f8;
}

.logoContainer {
  padding: 16px 0px;
  background: #002140;
  white-space: nowrap;
  overflow: hidden;
}
.logo {
  margin-left: 24px;
  height: 32px;
}

.logoDesc {
  display: inline-block;
  margin-left: 12px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  vertical-align: bottom;
  color: #fff;
}

.header {
  padding-left: 0;
  background: #fff;
}

.header-menu {
  line-height: 0px;
}

.icon-menu {
  padding: 22px 24px;
  font-size: 20px;
}

.header-menu:hover, .header-bell:hover, .header-dropmenu:hover, .header-question:hover {
  background: rgba(0, 0, 0, 0.025);
}

.header-bell, .header-dropmenu, .header-question {
  display: inline-block;
  height: 64px;
  padding: 0px 12px;
}

.icon-bell {
  padding: 4px;
}

.header-dropmenu {
  line-height: 0px;
}

.header-avator {
  // width: 100%;
  padding: 20px 8px 20px 0px;
  height: 100%;
  vertical-align: bottom;
}

.header-user-name {
  line-height: 64px;
  font-size: 14px;
  // vertical-align: bottom;

}

.drop-item {
  width: 160px;
}
.drop-icon {
  margin-right: 8px;
}

.content {
  // 相当于该容器定位，解决弹出组件不随页面滚动问题
  position: relative;
  margin: 16px 16px 16px;
  @diffHeight: 64px + 47px + 16px + 69px;
  min-height: ~"calc(100vh - @{diffHeight})";
  background: #fff;
}
